@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
}


.container {
display: flex;
justify-content: center;
padding: 20px;
}


.converter-card {
background: rgba(255,255,255,0.05);
padding: 30px;
border-radius: 20px;
width: 100%;
max-width: 500px;
backdrop-filter: blur(10px);
box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}


.upload-box {
border: 2px dashed rgba(255,255,255,0.4);
padding: 50px 20px;
text-align: center;
margin-top: 20px;
border-radius: 15px;
transition: 0.3s;
}


.upload-box:hover {
border-color: #7bcffe;
background: rgba(255,255,255,0.03);
}


input[type="file"] {
display: none;
}


.format-section {
margin-top: 20px;
font-size: 16px;
}


select {
margin-top: 10px;
padding: 10px;
border-radius: 10px;
border: none;
width: 100%;
}


.convert-btn {
margin-top: 30px;
width: 100%;
padding: 15px;
background: linear-gradient(90deg, #7bcffe, #a98bff);
border: none;
border-radius: 12px;
font-size: 18px;
color: #111;
cursor:
